<!DOCTYPE html>
<html ng-app="tabelaJogo"
>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="UTF-8"/>

    <link type="text/css" rel="stylesheet"
          href="materialize/css/materialize.min.css" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/estilos/estilo.css"
          media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"/>

    <title>Tabelas de Jogos</title>
</head>

<body ng-controller="tabelaJogoController">
<div ng-include="'../template/header.html'"></div>

<nav class="nav-extended" style="margin-top: 10px;">
    <div class="nav-content">
			<span class="nav-title" style="margin: -19px 0 0 10px !important">Cadastro
				de Tabela de Jogos</span>
    </div>
</nav>

<form name="tabelaJogoForm" id="tabelaJogoForm" action="" method="post">

    <div class="row container NewContainer">

        <div class="input-field col s12">
            <i class="material-icons prefix">textsms</i> <input type="text"
                                                                name="campeonato" ng-model="nomeCampeonatoSelectionado"
                                                                ng-keyup="completeCampeonato(nomeCampeonatoSelectionado)"
                                                                id="autocomplete-input-campeonato"
                                                                class="autocomplete"/>
            <ul class="collection" ng-model="hideListCampeonato"
                ng-hide="hideListCampeonato" style="margin-top: -21px;">
                <li class="collection-item"
                    ng-repeat="campeonato in filterCampeonato"
                    ng-click="selecionarCampeonato(campeonato)">{{campeonato.categoria}}
                    - {{campeonato.nomeCampeonato}}
                </li>
            </ul>
            <label ng-class="{active: classEdit}"
                   for="autocomplete-input-campeonato">Buscar Campeonato</label>
        </div>


    </div>

    <div class="row container NewContainer">

        <div class="input-field col s3">
            <select ng-model="rodada">
                <option value="" ng-disabled="true" ng-selected="true">Selecione</option>
                <option value="1">1° Rodada</option>
                <option value="2">2° Rodada</option>
                <option value="3">3° Rodada</option>
                <option value="4">4° Rodada</option>
                <option value="5">5° Rodada</option>
                <option value="6">6° Rodada</option>
                <option value="7">7° Rodada</option>
                <option value="8">8° Rodada</option>
                <option value="9">9° Rodada</option>
                <option value="10">10° Rodada</option>
                <option value="11">11° Rodada</option>
                <option value="SEMI_FINAL_IDA">Semi-final ida</option>
                <option value="SEMI_FINAL_VOLTA">Semi-final volta</option>
                <option value="FINAL_IDA">Final ida</option>
                <option value="FINAL_VOLTA">Final volta</option>
            </select> <label>Rodada</label>
        </div>

        <div class="input-field col s3">
            <select ng-model="chave">
                <option value="" ng-disabled="true" ng-selected="true">Selecione</option>
                <option value="CHAVE_A">Chave A</option>
                <option value="CHAVE_B">Chave B</option>

            </select> <label>Chave</label>
        </div>
        <div class="input-field col s3">
            <input type="text" id="dataPartida" class="datepicker"
                   name="dataPartida" ng-model="dataPartida"/> <label
                for="dataPartida" ng-class="{active: classEdit}">Data
            Partida</label>
        </div>
        <div class="input-field col s3">
            <input type="text" class="timepicker" ng-model="horarioPartida"
                   id="horarioInicio" name="horarioInicio"
                   ng-blur="addClassFieldDatePicker('classHorarioInicio')"/>
            <label for="horarioInicio" ng-class="{active: classHorarioInicio}">Horário</label>
        </div>

    </div>

    <div class="row container NewContainer">

        <div id="candidatos-inscricao" class="col s4">
            <table class="responsive-table highlight">
                <thead>
                <tr>
                    <h5>Agremiações Mandante</h5>
                </tr>
                <tr>
                    <th>Selecionar</th>
                    <th>Agremiação</th>
                    <th>Escudo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="inscricao in inscricoes">
                    <td style="width: 25px;">
                        <input type="checkbox"
                               ng-disabled="hasConfronto"
                               id="{{ 'agremiacao-' + $index }}"
                               name="{{ 'agremiacao-' + $index }}"
                               ng-click="selecionaAgremiacaoA(inscricao)" class="filled-in"/>
                        <label for="{{ 'agremiacao-' + $index }}"></label></td>

                    <td><span ng-bind="inscricao.agremiacao.nome"></span></td>
                    <td><img
                            src="/assets/agremiacoes/{{inscricao.agremiacao.nomeSigla}}.png"
                            alt="" height="30" width="30"/></td>

                </tr>
                </tbody>
            </table>
        </div>

        <div class="col s4">

            <div class="card-panel grey lighten-5 z-depth-1" style="margin-top: 95px;">

                <div class="row valign-wrapper">
                    <div class="col s4">
                        <img src="/assets/agremiacoes/{{agremiacaoA.nomeSigla}}.png" alt="" height="70" width="70"
                             class="responsive-img"> <!-- notice the "circle" class -->
                        <br/>
                        {{agremiacaoA.nome}}
                    </div>
                    <div class="col s4">
		              <span class="black-text">
		               VS
		              </span>
                    </div>
                    <div class="col s4">
                        <img src="/assets/agremiacoes/{{agremiacaoB.nomeSigla}}.png" alt="" height="70" width="70"
                             class="responsive-img"> <!-- notice the "circle" class -->
                        <br/>
                        {{agremiacaoB.nome}}
                    </div>
                </div>
            </div>


            <div class="input-field col s8">
                <select ng-model="local">
                    <option value="" ng-disabled="true" ng-selected="true">Selecione</option>
                    <option value="ESTADIO_AIRTON_BORGES">ESTÁDIO AIRTON BORGES</option>
                    <option value="POLIESPORTIVO_CUSTODIO_PEREIRA">POLIESPORTIVO CUSTODIO PEREIRA</option>
                    <option value="POLIESPORTIVO_JARDIM_BRASILIA">POLIESPORTIVO JARDIM BRASILIA</option>
                    <option value="POLIESPORTIVO_TANCREDO_NEVES">POLIESPORTIVO TANCREDO NEVES</option>
                    <option value="POLIESPORTIVO_PATRIMONIO">POLIESPORTIVO PATRIMONIO</option>
                    <option value="POLIESPORTIVO_LUIZOTE_DE_FREITAS">POLIESPORTIVO LUIZOTE DE FREITAS</option>
                    <option value="POLIESPORTIVO_SANTA_LUZIA">POLIESPORTIVO SANTA LUZIA</option>
                    <option value="POLIESPORTIVO_TOCANTINS">POLIESPORTIVO TOCANTINS</option>
                    <option value="POLIESPORTIVO_JOAO NAVES_DE_AVILA">POLIESPORTIVO JOÃO NAVES DE ÁVILA</option>
                    <option value="POLIESPORTIVO_SAO_JORGE">POLIESPORTIVO SÃO JORGE</option>
                    <option value="POLIESPORTIVO_FLUMINENSE">POLIESPORTIVO FLUMINENSE</option>
                </select> <label>Local</label>
            </div>

            <div class="input-field col s4">
                <a class="btn-floating" ng-click="addJogo()"><i class="material-icons">add</i></a>
            </div>

        </div>


        <div id="inscritos" class="col s4">
            <table class="responsive-table highlight">
                <thead>
                <tr>
                    <h5>Agremiações Visitantes</h5>
                </tr>
                <tr>
                    <th>Selecionar</th>
                    <th>Agremiação</th>
                    <th>Escudo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="inscricao in inscricoes">

                    <td style="width: 25px;">
                        <input type="checkbox"
                               ng-disabled="hasConfronto"
                               id="{{ 'inscricao-' + $index }}"
                               name="{{ 'inscricao-' + $index }}"
                               ng-click="selecionaAgremiacaoB(inscricao)" class="filled-in"/>
                        <label for="{{ 'inscricao-' + $index }}"></label></td>

                    <td><span ng-bind="inscricao.agremiacao.nome"></span></td>
                    <td><img
                            src="/assets/agremiacoes/{{inscricao.agremiacao.nomeSigla}}.png"
                            alt="" height="30" width="30"/></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</form>

<div ng-if="tabelaJogo && tabelaJogos.length" class="row container NewContainer">

    <button class="btn waves-effect waves-light"
            ng-click="salvarJogosRodada()"
            name="action">Salvar jogos {{rodada}}° rodada.
        <i class="material-icons right">send</i>
    </button>

    <table class="responsive-table highlight">
        <thead>
        <tr>
            <th>Rodada</th>
            <th>Chave</th>
            <th>Agremiacao A</th>
            <th>Escudo</th>
            <th>Local</th>
            <th>Data/Horario</th>
            <th>Escudo</th>
            <th>Agremiação B</th>
            <th>Editar Jogo</th>
            <th>Excluir</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="tabelaJogo in tabelaJogos">

            <td><span ng-bind="tabelaJogo.rodada"></span></td>
            <td><span ng-bind="tabelaJogo.chave"></span></td>
            <td><span ng-bind="tabelaJogo.agremiacaoA.nome"></span></td>
            <td><img src="/assets/agremiacoes/{{tabelaJogo.agremiacaoA.nomeSigla}}.png" alt="" height="30" width="30"/>
            </td>
            <td><span ng-bind="tabelaJogo.local"></span></td>
            <td>{{tabelaJogo.dataPartida}} - {{tabelaJogo.horarioPartida}}</td>
            <td><img src="/assets/agremiacoes/{{tabelaJogo.agremiacaoB.nomeSigla}}.png" alt="" height="30" width="30"/>
            </td>
            <td><span ng-bind="tabelaJogo.agremiacaoB.nome"></span></td>
            <td><a href="" ng-click="editarJogo(tabelaJogo)"> <i
                    class="material-icons" style="color: #3d5afe;">create</i>
            </a></td>
            <td><a href="" ng-click="excluirJogo(tabelaJogo)">
                <i class="material-icons" style="color: #e57373;">delete_forever</i>
            </a></td>
        </tr>
        </tbody>
    </table>

</div>

<script type="text/javascript"
        src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
<script src="scripts/angularjs/angular-1.5.0-rc.0/angular.js"></script>
<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-resource.js"></script>
<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-messages.js"></script>
<script src="scripts/angularjs/locale/pt-BR.js"></script>
<script src="scripts/controllers/tabelaJogoCtrl.js"></script>
<script src="scripts/controllers/format.js"></script>
<script src="scripts/js/ngMask.min.js"></script>
<script src="scripts/js/uteis.js"></script>
<script src="scripts/js/moment.min.js"></script>
</body>

</html>
