<!DOCTYPE html>
<html ng-app="agremiacao"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/estilos/estilo.css"
	media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<title>Agremiações</title>
</head>

<body ng-controller="agremiacaoController">
	<div ng-include="'../template/header.html'"></div>

	<nav class="nav-extended" style="margin-top: 10px;">
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a href="#informacoes"
					ng-click="abaSelecionada('informacoes')" class="active">Informações</a>
				</li>
				<li class="tab"><a href="#endereco"
					ng-click="abaSelecionada('endereco')">Endereço</a></li>
			</ul>
		</div>
	</nav>
	<form name="agremiacaoForm" id="agremiacaoForm" action="" method="post"
		class="col s12 m4 offset-m4 l4 offset-l4">
		<div id="informacoes" class="NavBarForm">
			<div class="row container" style="margin-top: 10px;">
				<div class="row">
					<div class="input-field col s4">
						<input type="text" ng-model="agremiacao.nome" id="nome"
							name="nome" ng-required="true" capitalize /> <label for="nome"
							ng-class="{active: classEdit}">Nome</label>
					</div>
					<div class="input-field col s4">
						<input type="text" id="dataAfiliacao" class="datepicker"
							name="dataAfiliacao" ng-model="agremiacao.dataAfiliacao" /> <label
							for="dataAfiliacao" ng-class="{active: classEdit}">Data
							Afiliacao</label>
					</div>

					<div class="input-field col s4">
						<input type="text" id="dataMandatoDiretoria" ng-disabled="true"
							class="datepicker" name="dataMandatoDiretoria"
							ng-model="jogo.dataMandatoDiretoria" /> <label
							for="dataMandatoDiretoria" ng-class="{active: classEdit}">Data
							mandato Diretoria</label>
					</div>

					<div class="input-field col s10">
						<input type="text" ng-model="agremiacao.observacao"
							id="observacao" name="observacao" ng-required="true" capitalize />
						<label for="observacao" ng-class="{active: classEdit}">Observação</label>
					</div>
					<div class="switch  col s2">
						<label> Ativa <input type="checkbox"
							ng-model="agremiacao.inativa" /> <span class="lever"></span>
							Inativa
						</label>
					</div>

				</div>
			</div>
		</div>
		<div id="endereco" class="NavBarForm">
			<div class="row container">
				<div class="input-field col s2">
					<input type="text" id="cep" ng-model="endereco.cep"
						mask="99999-999" ng-blur="buscarCep(endereco)" name="cep" /> <label
						for="cep" ng-class="{active: classCep || classEdit}">CEP</label>
				</div>
				<div class="input-field col s8">
					<input type="text" ng-model="endereco.logradouro" id="logradrouro2"
						name="logradouro" /> <label for="logradouro"
						ng-class="{active: classLogradouro || classEdit}">Logradouro</label>
				</div>
				<div class="input-field col s2">
					<input type="text" ng-model="endereco.numero" name="numero" /> <label
						for="numero" id="numero"
						ng-class="{active: classNumero || classEdit}">Número</label>
				</div>
				<div class="input-field col s6">
					<input type="text" ng-model="endereco.complemento"
						name="complemento" id="complemento" /> <label for="complemento"
						ng-class="{active: classComplemento || classEdit}">Complemento</label>
				</div>
				<div class="input-field col s6">
					<input type="text" ng-model="endereco.bairro" id="bairro"
						name="bairro" /> <label for="bairro"
						ng-class="{active: classBairro || classEdit}">Bairro</label>
				</div>
				<div class="input-field col s6">
					<input type="text" ng-model="endereco.cidade" id="cidade"
						name="cidade" /> <label for="cidade"
						ng-class="{active: classCidade || classEdit}">Cidade</label>
				</div>
				<div class="input-field col s6">
					<input type="text" ng-model="endereco.estado" id="estado"
						name="estado" /> <label for="estado"
						ng-class="{active: classEstado || classEdit}">Estado</label>
				</div>
			</div>
		</div>
		<div class="input-field col s12 container">
			<a ng-if="!modoEdicao" class="waves-effect waves-light btn"
				ng-click="salvarAgremiacao(agremiacao)"> <i
				class="material-icons right">done</i>Salvar
			</a> <a ng-if="modoEdicao" class="waves-effect waves-light btn"
				ng-click="updateAgremiacao(agremiacao)"> <i
				class="material-icons right">save</i>Atualizar
			</a>
		</div>
	</form>

	<div ng-if="agremiacoes && agremiacoes.length" class="row container">
		<table class="responsive-table highlight">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Escudo</th>
					<th>Data Afiliação</th>
					<th>Data Mandato Diretoria</th>
					<th>Observação</th>
					<th>Inativa ?</th>
					<th>Editar</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="agremiacao in agremiacoes">
					<td><span ng-bind="agremiacao.nome"></span></td>
					<td><img
						src="/assets/agremiacoes/{{agremiacao.nomeSigla}}.png" alt=""
						height="30" width="30" /></td>

					<td><span ng-bind="agremiacao.dataAfiliacao"></span></td>
					<td><span ng-bind="agremiacao.dataMandatoDiretoria"></span></td>
					<td><span ng-bind="agremiacao.observacao"></span></td>
					<td><span ng-if="agremiacao.inativa">Sim</span> <span
						ng-if="!agremiacao.inativa">Não</span></td>
					<td><a href="" ng-click="editarAgremiacao(agremiacao)"> <i
							class="material-icons" style="color: #3d5afe;">create</i>
					</a></td>
					<td><a href="#modalAlertaDeleteAgremiacao"
						class="modal-trigger waves-effect waves-light"
						data-position="bottom"
						ng-click="selecionaAgremiacaoDeletar(agremiacao)"> <i
							class="material-icons" style="color: #e57373;">delete_forever</i>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<div id="modalAlertaDeleteAgremiacao" class="modal">
		<nav class="nav-extended">
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a class="active">Deleta agremiação :
							{{agremiacaoDeletar.nome}}</a></li>
				</ul>
			</div>
		</nav>
		<div class="modal-content">Deseja realmente deletar a
			Agremiação: {{agremiacaoDeletar.nome}} ?</div>
		<div class="modal-footer">
			<a href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Não</a>
			<a href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat blue-text"
				ng-click="deletarAgremiacao(agremiacaoDeletar)">Sim</a>
		</div>
	</div>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-resource.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-messages.js"></script>
	<script src="scripts/angularjs/locale/pt-BR.js"></script>
	<script src="scripts/controllers/agremiacoesCtrl.js"></script>
	<script src="scripts/controllers/format.js"></script>
	<script src="scripts/js/ngMask.min.js"></script>
	<script src="scripts/js/uteis.js"></script>
	<script src="scripts/js/moment.min.js"></script>
</body>

</html>