.Button-Edit {
    color: #3d5afe;
}

.Primary-Theme {
    background-color: #E74C3d !important;
}

.Components-Theme {
    background-color: #0081b9 !important;
}

.btn {
    background-color: #2196f3 !important;
}

.NavBarForm {
    margin-top: 1em;
}

.Icons-Inscricao {
    font-size: 20px !important;
    color: blue;
}

.Icons-Inscricao:hover {
    font-size: 26px !important;
    color: red;
}

.Icons-Forward {

}

.Icons-Backward {

}

.NewContainer {
	min-width: 90% !important;
}

/*
.detalhesFluxoCaixa {
    min-width: 90% !important;
}

.Alert-Indisponivel {
    font-size: 20px;
}

.PreloaderAlt {
    height: 19px;
}


 */
