<!DOCTYPE html>
<html ng-app="campeonato"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/estilos/estilo.css"
	media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<title>Competições</title>
</head>

<body ng-controller="campeonatoController">
	<div ng-include="'../template/header.html'"></div>

	<nav class="nav-extended" style="margin-top: 10px;">
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a href="#cadastro-competicoes"
					ng-click="abaSelecionada('competicoes')" class="active">Cadastro
						de Competições </a></li>
				<li class="tab"><a href="#inscricoes"
					ng-click="abaSelecionada('inscricoes')">Inscrições de
						Agremiações</a></li>
			</ul>
		</div>
	</nav>

	<div id="cadastro-competicoes">

		<form name="campeonatoForm" id="campeonatoForm" action=""
			method="post" class="col s12 m4 offset-m4 l4 offset-l4">
			<div id="informacoes" class="NavBarForm">
				<div class="row container" style="margin-top: 10px;">
					<div class="row">
						<div class="input-field col s4">
							<input type="text" ng-model="campeonato.nomeCampeonato"
								id="nomeCampeonato" name="nomeCampeonato" ng-required="true"
								capitalize /> <label for="nomeCampeonato"
								ng-class="{active: classEdit}">Nome Campeonato</label>
						</div>
						<div class="input-field col s2">
							<select ng-model="campeonato.categoria">
								<option value="" ng-disabled="true" ng-selected="true">Selecione</option>
								<option value="AMADOR_ESPECIAL">Amador Especial</option>
								<option value="AMADOR_ACESSO">Amador Acesso</option>
								<option value="VETERANOS">Veteranos</option>
								<option value="RURAL">Rural</option>
								<option value="JUNIORES">Juniores</option>
								<option value="JUVENIL">Juvenil</option>
								<option value="ADULTO">Adulto</option>
							</select> <label>Campeonatos</label>
						</div>

						<div class="input-field col s2">
							<input type="text" id="dataInicio" class="datepicker"
								name="dataInicio" ng-model="campeonato.dataInicio" /> <label
								for="dataInicio" ng-class="{active: classEdit}">Data
								Início</label>
						</div>

						<div class="input-field col s2">
							<input type="text" id="dataEncerramento" class="datepicker"
								name="dataEncerramento" ng-model="campeonato.dataEncerramento" />
							<label for="dataEncerramento" ng-class="{active: classEdit}">Data
								Fim</label>
						</div>

						<div class="col s2">
							<p>
								<input type="checkbox" id="inscricoesEncerradas"
									ng-model="campeonato.inscricoesEncerradas" /> <label
									for="inscricoesEncerradas">Inscrições Encerradas ?</label>

							</p>
						</div>

					</div>
				</div>
			</div>
			<div class="input-field col s12 container">
				<a ng-if="!modoEdicao" class="waves-effect waves-light btn"
					ng-click="salvarCampeonato(campeonato)"> <i
					class="material-icons right">done</i>Salvar
				</a> <a ng-if="modoEdicao" class="waves-effect waves-light btn"
					ng-click="atualizarCampeonato(campeonato)"> <i
					class="material-icons right">save</i>Atualizar
				</a>
			</div>
		</form>

		<div ng-if="campeonato && campeonatos.length" class="row container">
			<table class="responsive-table highlight">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Categoria</th>
						<th>Edição</th>
						<th>Início</th>
						<th>Fim</th>
						<th>Inscrições Encerradas ?</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="campeonato in campeonatos">
						<td><span ng-bind="campeonato.nomeCampeonato"></span></td>
						<td><span ng-bind="campeonato.categoria"></span></td>

						<td><span ng-bind="campeonato.edicao"></span></td>
						<td><span ng-bind="campeonato.dataInicio"></span></td>
						<td><span ng-bind="campeonato.dataEncerramento"></span></td>
						<td><span ng-if="campeonato.inscricoesEncerradas">Sim</span>
							<span ng-if="!campeonato.inscricoesEncerradas">Não</span></td>
						<td><a href="" ng-click="editarCampeonato(campeonato)"> <i
								class="material-icons" style="color: #3d5afe;">create</i>
						</a></td>

					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div id="inscricoes">

		<form id="formInscricoesCampeonatos" action="" method="post">
			<div class="row container" style="margin-top: 10px;">
				<div class="input-field col s12">
					<i class="material-icons prefix">textsms</i> <input type="text"
						name="campeonato" ng-model="nomeCampeonatoSelectionado"
						ng-keyup="completeCampeonato(nomeCampeonatoSelectionado)"
						id="autocomplete-input-campeonato" class="autocomplete" />
					<ul class="collection" ng-model="hideListCampeonato"
						ng-hide="hideListCampeonato" style="margin-top: -21px;">
						<li class="collection-item"
							ng-repeat="campeonato in filterCampeonato"
							ng-click="selecionarCampeonato(campeonato)">{{campeonato.categoria}}
							- {{campeonato.nomeCampeonato}}</li>
					</ul>
					<label ng-class="{active: classEdit}"
						for="autocomplete-input-campeonato">Buscar Campeonato</label>
				</div>
				<div class="input-field col s6">
					<a class="waves-effect waves-light btn"
						ng-click="efetivarInscricaoCampeonado()"> <i
						class="material-icons right">done</i>Inscrever Selecionados
					</a>

				</div>
				<!--<div class="input-field col s6">-->
				<!--<a class="waves-effect waves-light btn" ng-click="desinscreverSelecionados()">-->
				<!--<i class="material-icons right">save</i>Remover Selecionados</a>-->
				<!--</div>-->
			</div>
		</form>

		<div ng-if="campeonatoSelected" class="row container">

			<div id="candidatos-inscricao" class="col s5">
				<table class="responsive-table highlight">
					<thead>
						<tr>
							<h5>Agremiações Disponíveis</h5>
						</tr>
						<tr>
							<!--<th>Selecionar</th>-->
							<th>Escudo</th>
							<th>Agremiação</th>
							<th>Inscrever</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="agremiacao in agremiacoes">
							<!--<td style="width: RIOBRANCO25px;">-->
							<!--<input type="checkbox" id="{{ 'agremiacao-' + $index }}" name="{{ 'agremiacao-' + $index }}"-->
							<!--ng-click="selecionaAgremiacao(agremiacao)"-->
							<!--class="filled-in"/>-->
							<!--<label for="{{ 'agremiacao-' + $index }}"></label>-->
							<!--</td>-->
							<td><img
								src="/assets/agremiacoes/{{agremiacao.nomeSigla}}.png" alt=""
								height="30" width="30" /></td>
							<td><span ng-bind="agremiacao.nome"></span></td>
							<td style="width: 15px;"><a href="#"
								ng-click="selecionaAgremiacao(agremiacao)"> <i
									class="material-icons right Icons-Inscricao"> arrow_forward</i>
							</a></td>

						</tr>
					</tbody>
				</table>
			</div>
			<div class="col s2">

				<div class="preloader-wrapper big active" ng-if="inTransfer">
					<div class="spinner-layer spinner-blue-only">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>

			</div>
			<div id="inscritos" class="col s5">
				<table class="responsive-table highlight">
					<thead>
						<tr>
							<h5>Agremiações Inscritas</h5>
						</tr>
						<tr>
							<th>Desinscrever</th>
							<th>Escudo</th>
							<th>Agremiação</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in campeonato.inscricoes">
							<td style="width: 15px;"><a href="#"
								ng-click="selecionaAgremiacao(item)"> <i
									class="material-icons right Icons-Inscricao"> arrow_back</i>
							</a></td>
							<td><img
								src="/assets/agremiacoes/{{item.agremiacao.nomeSigla}}.png"
								alt="" height="30" width="30" /></td>
							<td><span ng-bind="item.agremiacao.nome"></span></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-resource.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-messages.js"></script>
	<script src="scripts/angularjs/locale/pt-BR.js"></script>
	<script src="scripts/controllers/campeonatoCtrl.js"></script>
	<script src="scripts/controllers/format.js"></script>
	<script src="scripts/js/ngMask.min.js"></script>
	<script src="scripts/js/uteis.js"></script>
	<script src="scripts/js/moment.min.js"></script>
	<script>
		$(document).ready(function() {
			$('.tooltipped').tooltip();
		});
	</script>
</body>

</html>