<!DOCTYPE html>
<html ng-app="escala"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8" />

<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<style>
.detalhesFluxoCaixa {
	min-width: 90% !important;
}

.Alert-Indisponivel {
	font-size: 20px;
}

.PreloaderAlt {
	height: 19px;
}
</style>
<title>Escalas</title>
</head>

<body ng-controller="escalaController">
	<div ng-include="'../template/header.html'"></div>
	<nav class="nav-extended" style="margin-top: 10px;">
		<div class="nav-content">
			<ul class="tabs tabs-transparent">
				<li class="tab"><a href="#principal"
					ng-click="abaSelecionada('principal')" class="active">Principal</a>
				</li>
			</ul>
		</div>
	</nav>

	<div id="escalas-container" style="margin-top: 1em;">

		<div id="folhaPagamentoFunc" class="row container">

			<form name="formularioEscala" id="formularioEscala" action=""
				method="post">
				<div class="input-field col s2">
					<input type="text" id="numero" ng-model="escalaArbitros.numero"
						ng-required="true" name="numero" capitalize /> <label for="numero"
						ng-class="{active: classEdit}">Número</label>
				</div>
				<div class="input-field col s2">
					<input type="text" id="dataInicio" class="datepicker"
						name="dataInicio" ng-model="escalaArbitros.dataInicio" /> <label
						for="dataInicio" ng-class="{active: classEdit}">Data
						Início</label>
				</div>

				<div class="input-field col s2">
					<input type="text" id="dataFim" class="datepicker" name="dataFim"
						ng-model="escalaArbitros.dataFim" /> <label for="dataFim"
						ng-class="{active: classEdit}">Data Fim</label>
				</div>
				<div class="input-field col s6">
					<input type="text" id="link" ng-model="escalaArbitros.link"
						ng-required="true" name="link" /> <label for="link"
						ng-class="{active: classEdit}">Link</label>
				</div>

				<a ng-if="!modoEdicao" class="waves-effect waves-light btn"
					ng-click="salvarEscala(escalaArbitros)"> <i
					class="material-icons right">cloud</i>Salvar
				</a> <a ng-if="modoEdicao" class="waves-effect waves-light btn"
					ng-click="updateEscala(escalaArbitros)"> <i
					class="material-icons right">save</i>Atualizar
				</a>

			</form>
		</div>


		<div class="row container">
			<table class="responsive-table highlight">
				<thead>
					<tr>
						<th>Numero</th>
						<th>Início</th>
						<th>Fim</th>
						<th>Link</th>
						<th>Editar</th>
						<th>Deletar</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="escala in escalas">

						<td><span ng-bind="escala.numero"></span></td>
						<td><span ng-bind="escala.dataInicio"></span></td>
						<td><span ng-bind="escala.dataFim"></span></td>
						<td><a href="{{escala.link}}" target="_blank">Clique Aqui</a>
						</td>
						<td><a href="" ng-click="editarEscala(escala)"> <i
								class="material-icons" style="color: #e57373;">create</i>
						</a></td>
						<td><a href="#modalAlertaDeleteEscala"
							class="modal-trigger waves-effect waves-light"
							data-position="bottom" ng-click="selecionaEscalaDeletar(escala)">
								<i class="material-icons" style="color: #e57373;">delete_forever</i>
						</a></td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div id="modalAlertaDeleteEscala" class="modal">
		<nav class="nav-extended">
			<div class="nav-content">
				<ul class="tabs tabs-transparent">
					<li class="tab"><a class="active">Deleta escala :
							{{escalaDeletar.numero}}</a></li>
				</ul>
			</div>
		</nav>
		<div class="modal-content">Deseja realmente deletar a Escala n°:
			{{escalaDeletar.numero}} ?</div>
		<div class="modal-footer">
			<a href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat blue-text">Não</a>
			<a href="#!"
				class="modal-action modal-close waves-effect waves-green btn-flat blue-text"
				ng-click="deletarEscala(escalaDeletar)">Sim</a>
		</div>
	</div>


	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-resource.js"></script>
	<script src="scripts/angularjs/angular-1.5.0-rc.0/angular-messages.js"></script>
	<script src="scripts/angularjs/locale/pt-BR.js"></script>
	<script src="scripts/controllers/escalaCtrl.js"></script>
	<script src="scripts/controllers/format.js"></script>
	<script src="scripts/js/ngMask.min.js"></script>
	<script src="scripts/js/uteis.js"></script>
	<script src="scripts/js/moment.min.js"></script>
</body>

</html>