<!DOCTYPE html>
<html ng-app="agendaTelefonica">
    <head>
        <access origin="http://localhost:8080/crudRest/rest/alunos"/> 
        <title>Directivas 1° Parte - Curso Angular JS</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="estilo/bootstrap-3.3.6-dist/css/bootstrap.css" />
        <style>
            .jumbotron{

                width: 800px;
                margin-top: 20px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;


            },
            .jumbotron td{
              text-align: left !important;  
            }
            .table{
                margin: 20px auto;
            }
            input{
                margin-bottom: 5px;
            }
            .selecionado{
                background-color: yellow;
            }
            .negrito{
                font-weight: bold;
            }
        </style>
        <script src="angularjs/angular-1.5.0-rc.0/angular.js"></script>
        <script src="angularjs/angular-1.5.0-rc.0/angular-messages.js"></script>
        <script src="angularjs/locale/pt-BR.js"></script>
        
        <script>
          
            angular.module("agendaTelefonica", ["ngMessages"]);
            angular.module("agendaTelefonica").controller("agendaTelefonicaController", function($scope, $filter, $http){
            
                $scope.app = "Agenda Telefônica";
                $scope.contatos = [
//                    A forma mais correta de se utilizar alguns elementos do filter, é utilizando dentro do controller, pois se utilizarmos na view, a cadas vez que houve um refresh na página todos os elementos do angular são carregados
//                    {nome:$filter('uppercase')("Alex Alves de Souza"), telefone:"996984695", data: new Date(), cor:"blue"},
//                    {nome:"Paulo Henrique de Oliveira", data: new Date(), telefone:"888888888", cor:"gray"},
//                    {nome:"Analice dos Santos", data: new Date(), telefone:"77777777", cor:"yellow"}

                ];
               
                var carregarContatos = function(){
                  $http.get("http://localhost:8080/crudRest/rest/alunos").success(function(ret){
                     $scope.contatos = ret.contato;
                    });  
                } ;       
               

                $scope.operadoras = [
                  /*  {nome:"Tim", codigo:41, categoria:"Celular", preco: 2},
                    {nome:"GVT", codigo:25, categoria:"Fixo", preco: 1},
                    {nome:"CTBC", codigo:12, categoria:"Celular", preco: 3},
                    {nome:"Vivo", codigo:45, categoria:"Celular", preco: 4},
                    {nome:"Claro", codigo:23, categoria:"Celular" , preco: 1.4},
                    {nome:"Oi", codigo:31, categoria:"Celular", preco: 2.3},
                    {nome:"NET", codigo:77, categoria:"Internet" , preco: 39},
                    {nome:"Telefônica", codigo:15, categoria:"Fixo", preco: 77},
                    {nome:"Embratel", codigo:21, categoria:"Fixo", preco: 32}*/

                ];
                
                var carregarOperadoras = function(){
                  $http.get("http://localhost:8080/crudRest/rest/operadoras").success(function(oper){
                      $scope.operadoras = oper.operadora;
                  });  
                };

                $scope.adicionaContatos = function(contato){
                    /*Existem 03 Manreiras de adicionar elementos em memória */
                    /*01 - É a pior maneira de se adicionar um elemento, pois quebramos o mantra do Angular, pois desta forma estamos lendo                                      o scope do objeto para poder inserir no array, e isso não é bom, entao devemos evitar o máximo possivel de se utilizar                                  este método, mas pode haver casos em que não será possivel e teremos de utilizar. Neste caso não utilizamos o parâmetro na função.
                    $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
                    02 - Podemos passar por parametro mais ainda nao fica legal, pois devemos passar tanto o nome quanto o telefone por parâmetro.
                    03 - Abaixo é a melhor forma de se utilizar.
                    */
                    if(contato == null){
                        alert("O nome e telefone são obrigatórios");
                    }else{
                       contato.data = new Date();
                       $http.post("http://localhost:8080/crudRest/rest/alunos", contato).success(function(contatoAdicionado){
                            delete $scope.contato;
                            $scope.contatoForm.$setPristine();
                            carregarContatos();
                        });
                        //$scope.contatos.push(contato);    
                        
                    }


                    /*O Comando delete limpa a referência do objeto. é similar ao new do Java. mas também podemos fazer uma cópia do objeto, porem este                         não limpa a referência da memoria, entao o melhor mesmo é invocar o delete logo apos o push
                     $scope.contatos.push(angular.copy(contato));
                    */
                   // delete $scope.contato;
                    //$scope.contatoForm.$setPristine();

                };

                $scope.removerContatos = function(contatos){
                    $scope.contatos = contatos.filter(function(contato){
                        if(!contato.selecionado) return contato;
                    });

                };

                $scope.isContatosSelecionados = function(contatos){
                    /*A função some é equivalente a um filter*/
                    return contatos.some(function(contato){
                       return contato.selecionado; 
                    });
                };
                
                $scope.ordernarPor = function(campo){
                    $scope.criterioDeOrdenacao = campo;
                    $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
                };

                $scope.classe1 = "selecionado";
                $scope.classe2 = "negrito";
                
              carregarContatos();
              carregarOperadoras()
            });

        </script>
    </head>

<body ng-controller="agendaTelefonicaController">

    <div class="jumbotron">
        <h4  ng-bind="app"></h4>
        <input type="text" class="form-control" ng-model="pesquisaContato" placeholder="Digite o que estiver procurando." />
        <table class="table" ng-show="contatos.length > 0">
            <tr>
                <th>Marcar</th>
                <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                <th>Telefone</th>
                <th><a href="" ng-click="ordernarPor('operadora.nome')">Operadora</a></th>
                <th>Data</th>
                <th></th>
            </tr>
<!--            O campo filter é muito util e versátil, pois ele realmente filtra os elementos de uma coleção, e pode ser usado filtrando todos os campos ao mesmo tempo conforme exemplo abaixo, ou pode serguir filtrando apenas por colunas especificas conforme modelo: filter:{nome: pesquisaContato}-->
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:pesquisaContato 
                                                                                   | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">

                <!-- 1° Forma de invocar o ng-repeat-->
                <!--<td ng-repeat="(key,value) in contato">
                    {{value}}
                </td>--> 
                <!-- 2° Forma de invocar o ng-repeat-->
               <!-- <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td> -->
                <!-- 3° Forma de invocar o ng-repeat-->
                <td><input type="checkbox" ng-model="contato.selecionado"/></td>
                <td ng-bind="contato.nome"></td>
                <td ng-bind="contato.telefone"></td> 
                <td ng-bind="contato.operadora.nome | lowercase"></td>
                <td>{{contato.data}}</td>
                <td><div style="width:20px; height:20px;" ng-style="{'background-color': contato.cor}"></div></td>
            </tr>
        </table>
        
        <form name="contatoForm">
            <input type="text" name="nome" class="form-control" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
            <input type="text" name="telefone" class="form-control" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" 
                   ng-pattern="/^\d{4,5}-\d{4}$/"/> 
           <select ng-model="contato.operadora" name="operadora" ng-options="operadora.nome +'('+ (operadora.preco | currency)+')' 
                                                                             group by operadora.categoria for operadora in operadoras 
                                                                             | orderBy:'nome'" 
                   class="form-control" ng-required="true">                
               <option value="">Selecione uma operadora</option>
            </select> 
        </form>
        <!--  A propriedade $valid faz uma validação booleana em um form e a $invalid, faz a negação-->
<!--
        A Expressao $dirty informa ao formulário se o campo foi tocado, e se foi ira mostrar o alerta, enquanto a propriedade $pristine deixa o campo 
        como virgem novamente, ou seja com o status intocado.
        Nos casos de utilizar um validador como o ng-minlength, devemos modificar a directiv ng-show para que ela possa captutar o erro da tela e tratar
de forma mais adequada, confome abaixo.
-->
<!--        Organizando o código para ficar mais legível-->
        <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
            <div ng-message="required">
                O campo nome é obrigatório!
            </div>
            <div ng-message="minlength">
                O campo nome é tem ter no mínimo 10 caracteres!
            </div>
        
        </div>
        
        
<!--
        <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
            O campo nome é obrigatório!
        </div>
        <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
            O campo nome é tem ter no mínimo 10 caracteres!
        </div>
-->
        <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
            O campo telefone é obrigatório!
        </div>
         <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
            O campo telefone deve estar no formato DDDD-DDDD !
        </div>
        <div ng-show="contatoForm.operadora.$invalid && contatoForm.operadora.$dirty" class="alert alert-danger">
            O campo operadora é obrigatório!
        </div>
        <button class="btn btn-primary btn-block" ng-click="adicionaContatos(contato)" 
                ng-disabled="contatoForm.$invalid">Adicionar Contatos</button>
        <!-- A utilização de negação pode deixar a directiva muito extensa e não é legal, o correto é utilizar o ng-required -->
        <!--<button class="btn btn-primary btn-block" ng-click="adicionaContatos(contato)" 
                ng-disabled="!contato.nome || !contato.telefone">Adicionar Contatos</button> -->
        <!-- O ng-if do que o ng-show pois ele é mais eficiente quando pois ele remove e insero o elemento no DOM-->
         <button class="btn btn-danger btn-block" ng-click="removerContatos(contatos)" 
                ng-if="isContatosSelecionados(contatos)">Remover Contatos</button>
        <!-- <button class="btn btn-danger btn-block" ng-click="removerContatos(contatos)" 
                ng-show="isContatosSelecionados(contatos)">Remover Contatos</button> -->
    </div>
    {{100.27 | number:1}}
    <hr />
    
    <a href="index.html" target="_self" >Index</a>
    <div ng-include="'footer.html'"></div>
</body>


</html>