<form id="formularioTjdu" action="" method="post" class="col s12 m4 offset-m4 l4 offset-l4">

    <div class="row container">

        <div class="input-field col s4">
            <input type="text" id="numero" ng-model="tjdu.numero" ng-required="true" class="ng-pristine ng-untouched ng-valid" name="numero"
                capitalize />
            <label for="numero" ng-class="{active: classEdit}">Número</label>
        </div>

        <div class="input-field col s6">
            <input type="text" id="link" ng-model="tjdu.link" ng-required="true" class="ng-pristine ng-untouched ng-valid" name="link"
            />
            <label for="link" ng-class="{active: classEdit}">Link</label>
        </div>

        <div ng-show="false" class="input-field col s2">
            <input type="text" id="categoria" ng-model="tjdu.categoria" ng-required="true" ng-disabled="true" ng-show="false" name="categoria"
            />

            <label for="categoria" ng-class="{active: classEstaticField}">Categoria</label>
        </div>

        <div class="input-field col s2">
            <a ng-if="!modoEdicao" class="waves-effect waves-light btn" ng-click="salvarTjdu(tjdu)">
                <i class="material-icons right">done</i>Salvar</a>

            <a ng-if="modoEdicao" class="waves-effect waves-light btn" ng-click="updateTjdu(tjdu)">
                <i class="material-icons right">save</i>Atualizar</a>
        </div>

    </div>

</form>

<div ng-if="tjdus && tjdus.length" class="row container">
    <table class="responsive-table highlight">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Link</th>
                <th>Categoria</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tjdu in tjdus">
                <td>
                    <span ng-bind="tjdu.numero"></span>
                </td>
                <td>
                    <a href="{{tjdu.link}}" target="_blank">Clique Aqui</a>
                </td>
                <td>
                    <span ng-bind="tjdu.categoria"></span>
                </td>
                <td>
                    <a href="" ng-click="editarTjdu(tjdu)">
                        <i class="material-icons" class="Button-Edit">create</i>
                    </a>
                </td>
                <td>
                    <a href="#modalAlertaDeleteCategoriaTjdu" class="modal-trigger waves-effect waves-light" data-position="bottom" ng-click="selecionaEntidadeDeletar(tjdu)">
                        <i class="material-icons" style="color: #e57373;">delete_forever</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>