<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <i class="material-icons">cloud</i>Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/view-tempo-real">
                    <i class="material-icons left">person_pin</i>Tempo Real</a>
            </li>
            <li>
                <a href="/view-escala">
                    <i class="material-icons left">account_balance</i>Escalas</a>
            </li>
            <li>
                <a href="/view-tjdu">
                    <i class="material-icons left">monetization_on</i>TJDU</a>
            </li>
            <li>
                <a href="/view-dpto-tecnico">
                    <i class="material-icons left">people_outline</i>Departamento Técnico</a>
            </li>

            <li>
                <a href="/logout">
                    <i class="material-icons left">exit_to_app</i>Sair</a>
            </li>
        </ul>
    </div>
</nav>


