<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
            <i class="material-icons">cloud</i>Logo</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/view-atletas">
                    <i class="material-icons left">directions_run</i>Atletas</a>
            </li>
            <li>
                <a href="/view-agremiacoes">
                    <i class="material-icons left">account_balance</i>Agremiações</a>
            </li>
            <li>
                <a href="/view-campeonato">
                    <i class="material-icons left">games</i>Competições</a>
            </li>
            <li>
                <a href="/view-tabela-jogos">
                    <i class="material-icons left">date_range</i>Tabela Jogos</a>
            </li>
            <li>
                <a href="/view-tempo-real">
                    <i class="material-icons left">access_time</i>Tempo Real</a>
            </li>
            <li>
                <a href="/view-escala">
                    <i class="material-icons left">assignment</i>Escalas</a>
            </li>
            <li>
                <a href="/view-tjdu">
                    <i class="material-icons left">monetization_on</i>TJDU</a>
            </li>
            <li>
                <a href="/view-dpto-tecnico">
                    <i class="material-icons left">people_outline</i>Departamento Técnico</a>
            </li>

            <!-- <li>
                <a href="/logout">
                    <i class="material-icons left">exit_to_app</i>Sair</a>
            </li> -->
        </ul>
    </div>
</nav>


<!--<ul id="slide-out" class="side-nav">-->

    <!--<li>-->
        <!--<div class="user-view">-->
            <!--<div class="background">-->
                <!--<img src="/images/enzo.jpg" alt="">-->
            <!--</div>-->
            <!--<a href="#"><img src="/images/enzo.jpg" alt=""></a>-->
            <!--<a href=""><span class="black-text name">Alex Alves de Souza</span></a>-->
            <!--<a href=""><span class="black-text email">alvesdesouzaalex@gmail.com</span></a>-->
        <!--</div>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a href="/view-atletas" class="waves-effect">-->
            <!--<i class="material-icons left">directions_run</i>Home</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<div class="divider"></div>-->
    <!--</li>-->


    <!--<li class="no=padding">-->
        <!--<ul class="collapsible collapsible-accordion">-->
            <!--<li>-->
                <!--<a href="" class="collapsible-header">-->
                    <!--Departamento Técnico-->
                    <!--<i class="material-icons">arrow_drop_down</i>-->
                    <!--<div class="collapsible-body">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<a href="/view-tabela-jogos">-->
                                    <!--<i class="material-icons left">date_range</i>Tabela Jogos</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="/view-tempo-real">-->
                                    <!--<i class="material-icons left">access_time</i>Tempo Real</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->


    <!--<li>-->
        <!--<a href="/view-atletas">-->
            <!--<i class="material-icons left">directions_run</i>Atletas</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="/view-agremiacoes">-->
            <!--<i class="material-icons left">account_balance</i>Agremiações</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="/view-campeonato">-->
            <!--<i class="material-icons left">games</i>Competições</a>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a href="/view-escala">-->
            <!--<i class="material-icons left">assignment</i>Escalas</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="/view-tjdu">-->
            <!--<i class="material-icons left">monetization_on</i>TJDU</a>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="/view-dpto-tecnico">-->
            <!--<i class="material-icons left">people_outline</i>Departamento Técnico</a>-->
    <!--</li>-->

    <!--<li>-->
        <!--<a href="/logout">-->
            <!--<i class="material-icons left">exit_to_app</i>Sair</a>-->
    <!--</li>-->
<!--</ul>-->

<!--<a class="btn hide-on-large-only" style="width: 100%;" data-activates="slide-out"><i class="material-icons">menu</i></a>-->

<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$(".btn").sideNav();-->
        <!--$('.dropdown-trigger').dropdown();-->
    <!--});-->

<!--</script>-->
