<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <style>
        .Impressao {
         	font-size: 11px;
        }
        .Ilike-container {
            background-color: #ffebee;
		    }
        .Titulo {
          text-align: center;
        }
  </style>
   </head>
   <body>
       
      <div class="modal-content Impressao">
       <h6 class="Titulo">Contrato de Locação</h6>
         <div class="row">
            <div class="col s12 m7" style="min-width: 99%;">
               <div class="card">
                  <div class="Impressao col s5">
                     Locador: <span>{{contrato.locador.nome}}</span>
                  </div>
                  <div class="Impressao col s7">
                     <span>{{contrato.locador.endereco}}</span>
                     Bairro: <span>{{contrato.locador.bairro}}</span>
                     Fone: <span>{{contrato.locador.fone}}</span>
                  </div>
                 
               </div>
               <div class="Impressao col s5">
                  Locatário: <span>{{contrato.pedidoSelecionado.cliente.nome}}</span>
                  / CPF: <span>{{contrato.pedidoSelecionado.cliente.cpf}}</span>
               </div>
               <div class="Impressao col s7">
                  <span>{{contrato.locatario.enderecoContrato.logradouro}} n°
                  {{contrato.locatario.enderecoContrato.numero}}</span>
                  Bairro: <span>{{contrato.locatario.enderecoContrato.bairro}}</span>
                  Fone: <span>{{contrato.pedidoSelecionado.cliente.telefoneCelular}}</span>
               </div>
               
               <div class="Impressao col s12">
                  Data da Entrega: <span>{{contrato.pedidoSelecionado.dtaEntrega}}</span>
                  Data da Devolução: <span>{{contrato.pedidoSelecionado.dtaDevolucao}}</span>
               </div>
              
               <div class="Impressao col s12">
                  <p>1 - Neste ato, as partes firmam o presente contrato de
                     locação de bens móveis com duracação de quatro dias conforme
                     artigos 1.188 a 1.199 do código Civil Brasileiro, sendo que os
                     bens serão entregues pelo Locatário dia
                     {{contrato.pedidoSelecionado.dtaEntrega}}
                  </p>
                  <p>2 - O Locatário acima qualificado, ou pessoa por ele
                     designada recebe em locação os bens abaixo descriminados.
                  </p>
               </div>
               <div class="Impressao col s12">
                  <div class="row" ng-if="itens.length">
                     <table class="responsive-table bordered Impressao">
                        <thead>
                           <tr>
                              <th class="Impressao">Produto</th>
                              <th class="Impressao">Preço</th>
                              <th class="Impressao">Quantidade</th>
                              <th class="Impressao">Total</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in contrato.itens">
                              <td><span class="Impressao" ng-bind="item.produto.nome"></span></td>
                              <td><span class="Impressao" ng-bind="item.produto.preco | currency: 'R$'"></span></td>
                              <td><span class="Impressao" ng-bind="item.quantidade"></span></td>
                              <td><span class="Impressao"> {{item.quantidade*item.produto.preco | currency: 'R$'}}</span></td>
                           </tr>
                           <tr class="Ilike-container">
                              <td class="Impressao">Frete: {{vlrFrete | currency: 'R$'}}</td>
                              <td class="Impressao">Total Revenda: {{contrato.totalProdutos | currency: 'R$'}}</td>
                              <td class="Impressao">Total Comodato: {{contrato.totalComodato | currency: 'R$'}}</td>
                              <td class="Impressao">Total Pedido: {{vlrTotalFinalPedido | currency: 'R$'}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="Impressao col s12">
                  <p>3 - O locatário após a vistoria de entrega, declara neste
                     ato, que recebeu todo o material em perfetio estado de usu e
                     conservação, ficando ainda, após o usu, obrigado a efetuar a
                     reposição imediata dos bens danificados, da mesma marca e modeo,
                     sendo que caso não haja no mercado o mesmo produto, devera o
                     locador indicar quais marcas e modelos que aceita como reposição.
                     
                     </p>
                     <p>
                     4 - Os bens locados deverão ser devolvidos no vencimento
                     deste, e caso o locatário não entregues os bens na data
                     combinada, a locação passará a ser diária e seu valor de acordo
                     com a tabela acima, podendo o locador tomar medidas necessárias
                     para a recuperação dos bens locados, sem prejuízo do aluguel pelo
                     período de atraso.
                  </p>
                
               </div>
               <div class="Impressao col s12">Uberlândia, {{dataAtualFormatada}}.
               </div>
               <div class="Impressao input-field col s6">
                  Locador: <input type="text" name="locador" />
               </div>
               <div class="Impressao input-field col s6">
                  Locatário: <input type="text" name="locatario" />
               </div>
               <div class="Impressao input-field col s4">
                  Entregue: <input type="text" />
               </div>
               <div class="Impressao input-field col s4">
                  Pago: <input type="text" />
               </div>
               <div class="Impressao input-field col s4">
                  Coletado: <input type="text" />
               </div>
            </div>
         </div>
      </div>
     
      <script type="text/javascript"
         src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   </body>
</html>